body {
	background-color: black;
	text-align: center;
	font-family: verdana, sans-serif;

}


.header h1 {
	font-weight: normal;
	font-size: 50px;
	color: white;
}

.header p {
	color: aquamarine;
	font-size: 16px;
}

.download p {
	color: aquamarine;
	font-size: 16px;
}

.personal-guide h3 {
	color: white;
	font-weight: 300px;
	font-size: 42px;
}

.personal-guide p {
	font-size: 21px;
	color: gray;
}


.copy-right p {
	text-align: right;
	color: gray;
}